/* css reset */
*{box-sizing: border-box;}
*::before,*::after{box-sizing: border-box;}
*{margin: 0;padding: 0;}
ul,ol{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
img{ 
    max-width: 100%;
    max-height: 100%;
}
/* style */
body{background: #eee;}
.globalHeader{  
    margin: 20px;

}
@media (min-width:500px){
    .globalHeader{
        margin-top: 80px;
        margin-bottom:  100px;
    }
}
.searchForm{
    display: flex;
    justify-content: center;

}
@media (min-width:500px){
    .searchForm {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}
.searchForm > input{
    color: #333333;
    font-size: 16px;
    outline: none;
    width: 100%;
    margin-right: 10px;
    height:44px;
    padding:0 10px;
    border: none;
    border-radius: 20px;
    box-shadow: -8px -8px 16px -10px rgba(255,255,255,1),8px 8px 16px -10px rgba(0,0,0,0.15);
}
.searchForm > button{
    border: 1px solid red;
    box-shadow: -8px -8px 16px -10px rgba(255,255,255,1),8px 8px 16px -10px rgba(0,0,0,0.15);
    width: 100px;
    white-space: nowrap;
    padding:0,30px;
    border-radius: 4px;
    background: #1193AF;
    border: 1px solid #DDDDDD;
    color: #ffffff;
    font-size: 16px;
    outline: none;
} 
.globalMain{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.siteList{
    display: flex; 
    margin: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (min-width:500px){
    .siteList{
        margin-left: 0;
        margin-right: -25px;
        justify-content: flex-start;
    }
}
.siteList > li{
    margin-bottom: 10px;
}
@media(min-width:500px ){
    .siteList > li{
        margin-right: 25px;
    }
}
.siteList .site{

    width: 160px;
    display: flex ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border: 1px solid ddd;
    border-radius: 20px;
    padding: 20px 0;
    position: relative;
    cursor: pointer;
    box-shadow: -8px -8px 16px -10px rgba(255,255,255,1),8px 8px 16px -10px rgba(0,0,0,0.4);
    margin-bottom: 18px;
}
.siteList .site .logo{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    text-transform: uppercase;
    color: rgb(57, 164, 189);
}
.siteList .site .link{
    font-size: 14px;
    color: rgb(57, 164, 189)

}
.siteList .site .close{
    display: none;
    position: absolute;
    right: 2px;
    top:2px;
}
.siteList .site:hover > .close{
    display: block;
    cursor: default;
}
.siteList .addButton{
    border-radius: 20px;
    box-shadow: -8px -8px 16px -10px rgba(255,255,255,1),8px 8px 16px -10px rgba(0,0,0,0.4);
    background: #fff;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    /* border: 1px solid #eee; */
}
.siteList .addButton .icon{
    width: 64px;
    height: 64px;
    color: rgb(57, 164, 189)

}
.siteList .addButton .text{
    font-size: 14px;
    color: rgb(57, 164, 189)

}
.siteList .addButton .icon-Wrapper{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}